
  body  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: rgb(240, 216, 6);
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(248, 248, 245);
    text-decoration: none;
}

section {
    padding: 20px;
}

.plano {
    border: 1px solid #000000;
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(8, 0, 0);
}

.plano img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.plano h3 {
    margin-top: 0;
}

.preco {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.preco .valor {
    display: block;
    font-size: 2em;
    color: #e74c3c; /* Cor para destacar o preço */
}

.preco .periodo {
    display: block;
    font-size: 0.8em;
    color: #131301; /* Cor mais clara para o período */
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #080800;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #0e0d00;
    border-radius: 4px;
    box-sizing: border-box;
}

form input:focus, form select:focus {
    border-color: #333;
    outline: none;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

form button:hover {
    background-color: #555;
}

